<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.quantcast.phonegap.measurement"
    version="1.1.0">

    <name>Quantcast Measurement for Apps</name>
    
    <description>
       Audience measurement and analytics for mobile applications.
    </description>

    <author>Quantcast</author>

    <keywords>measurement,audience,analytics,Quantcast,demographics</keywords>
   
    <license>Quantcast Mobile App Measurement TOS</license>
    
    <engines>
        <engine name="cordova" version=">=2.5.0" />
    </engines> 

    <js-module src="www/QuantcastMeasurement.js" name="QuantcastMeasurementPlugin">
        <clobbers target="window.QuantcastMeasurement" />
    </js-module>
    
    <config-file target="config.xml" parent="/*">
        <access origin="m.quantcount.com" />
    </config-file>

    <platform name="android">
        <source-file src="src/android/QuantcastMeasurementPlugin.java" target-dir="src/com/quantcast/phonegapplugin" />
        
        <!-- SDK Code -->
        <!--source-file src="src/android/sdk/AboutQuantcastScreen.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCDatabaseDAO.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCDataManager.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCDataUploader.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCDeduplicatedWebView.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCEvent.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCLocationManager.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCMeasurement.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCLog.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCNotificationCenter.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCNotificationListener.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCOptOutUtility.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCPolicy.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCReachability.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCReferrerReceiver.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QCUtility.java" target-dir="src/com/quantcast/measurement/service" />
        <source-file src="src/android/sdk/QuantcastClient.java" target-dir="src/com/quantcast/measurement/service" /-->
        <source-file src="src/android/sdk/QuantcastAndroidSdk.jar" target-dir="libs" />
        
        
        <config-file target="res/xml/plugins.xml" parent="/plugins">
            <plugin name="QuantcastMeasurementPlugin" value="com.quantcast.phonegapplugin.QuantcastMeasurement"/>
        </config-file>

        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="QuantcastMeasurementPlugin" value="com.quantcast.phonegapplugin.QuantcastMeasurement"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
	        <activity android:name="com.quantcast.measurement.service.AboutQuantcastScreen"/>
            <receiver android:name="com.quantcast.measurement.service.QCReferrerReceiver" android:exported="true">
                <intent-filter>
                    <action android:name="com.android.vending.INSTALL_REFERRER" />
                </intent-filter>
             </receiver>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
 	        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
 	        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
 	        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
    </platform>
    <platform name="ios">
        <source-file src="src/ios/QuantcastMeasurementPlugin.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/QuantcastMeasurementPlugin.h" />
        
        <!-- SDK Code -->
        <header-file src="src/ios/sdk/QuantcastNetworkReachability.h" />
        <header-file src="src/ios/sdk/QuantcastParameters.h" />
        <header-file src="src/ios/sdk/QuantcastOptOutDelegate.h" />
        <header-file src="src/ios/sdk/QuantcastDatabase.h" />
        <header-file src="src/ios/sdk/QuantcastEventLogger.h" />
        <header-file src="src/ios/sdk/QuantcastMeasurement+Internal.h" />
        <source-file src="src/ios/sdk/QuantcastDatabase.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/sdk/QuantcastDataManager.h" />
        <source-file src="src/ios/sdk/QuantcastDataManager.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/sdk/QuantcastEvent.h" />
        <source-file src="src/ios/sdk/QuantcastEvent.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/sdk/QuantcastMeasurement.h" />
        <source-file src="src/ios/sdk/QuantcastMeasurement.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/sdk/QuantcastOptOutViewController.h" />
        <source-file src="src/ios/sdk/QuantcastOptOutViewController.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/sdk/QuantcastPolicy.h" />
        <source-file src="src/ios/sdk/QuantcastPolicy.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/sdk/QuantcastUploadJSONOperation.h" />
        <source-file src="src/ios/sdk/QuantcastUploadJSONOperation.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/sdk/QuantcastUploadManager.h" />
        <source-file src="src/ios/sdk/QuantcastUploadManager.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/sdk/QuantcastUtils.h" />
        <source-file src="src/ios/sdk/QuantcastUtils.m" compiler-flags="-fno-objc-arc"/>



        <!-- Cordova >= 2.3 -->
        <config-file target="config.xml" parent="/*">
            <feature name="QuantcastMeasurementPlugin">
                <param name="ios-package" value="QuantcastMeasurementPlugin" />
            </feature>
        </config-file>
   
        <framework src="libsqlite3.dylib" />
        <framework src="libz.dylib" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="AdSupport.framework" weak="true" />

    </platform>
</plugin>
