<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.quantcast.phonegapplugin"
    version="1.1.0">

    <name>Quantcast Measurement for Apps</name>
    
    <description>
       Audience measurement and analytics for mobile applications.
    </description>

    <author>Quantcast</author>

    <keywords>measurement,audience,analytics,Quantcast,demographics</keywords>
   
    <license>Quantcast Mobile App Measurement TOS</license>
    
    <engines>
        <engine name="cordova" version=">=2.5.0" />
    </engines> 

    <js-module src="www/QuantcastMeasurement.js" name="QuantcastMeasurementPlugin">
        <clobbers target="window.QuantcastMeasurement" />
    </js-module>
    
    <config-file target="config.xml" parent="/*">
        <access origin="m.quantcount.com" />
    </config-file>

    <platform name="android">
        <source-file src="src/android/QuantcastMeasurementPlugin.java" target-dir="src/com/quantcast/phonegapplugin" />
        
        <!-- SDK Code -->
        <source-file src="src/android/sdk/QuantcastAndroidSdk.jar" target-dir="libs" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="QuantcastMeasurementPlugin">
                <param name="android-package" value="com.quantcast.phonegapplugin.QuantcastMeasurementPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="custom_rules.xml" parent="/project">
            <target name="-pre-build">
                <echo>Copying Google Play Services</echo>
                <copy todir="." overwrite="true">
                    <fileset dir="${sdk.dir}/extras/google/google_play_services/libproject/google-play-services_lib">
                        <exclude name="project.properties"/>
                        <exclude name="AndroidManifest.xml"/>
                    </fileset>
                </copy>
            </target>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
	        <activity android:name="com.quantcast.measurement.service.AboutQuantcastScreen"/>
            <receiver android:name="com.quantcast.measurement.service.QCReferrerReceiver" android:exported="true">
                <intent-filter>
                    <action android:name="com.android.vending.INSTALL_REFERRER" />
                </intent-filter>
             </receiver>
            <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
 	        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>

    </platform>
    <platform name="ios">
        <source-file src="src/ios/QuantcastMeasurementPlugin.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/QuantcastMeasurementPlugin.h" />
        
        <!-- SDK Code -->
        <header-file src="src/ios/sdk/QuantcastNetworkReachability.h" />
        <header-file src="src/ios/sdk/QuantcastParameters.h" />
        <header-file src="src/ios/sdk/QuantcastOptOutDelegate.h" />
        <header-file src="src/ios/sdk/QuantcastEventLogger.h" />
        <header-file src="src/ios/sdk/QuantcastMeasurement+Internal.h" />
        <header-file src="src/ios/sdk/QuantcastDatabase.h" />
        <source-file src="src/ios/sdk/QuantcastDatabase.m"/>
        <header-file src="src/ios/sdk/QuantcastDataManager.h" />
        <source-file src="src/ios/sdk/QuantcastDataManager.m"/>
        <header-file src="src/ios/sdk/QuantcastEvent.h" />
        <source-file src="src/ios/sdk/QuantcastEvent.m"/>
        <header-file src="src/ios/sdk/QuantcastMeasurement.h" />
        <source-file src="src/ios/sdk/QuantcastMeasurement.m"/>
        <header-file src="src/ios/sdk/QuantcastOptOutViewController.h" />
        <source-file src="src/ios/sdk/QuantcastOptOutViewController.m"/>
        <header-file src="src/ios/sdk/QuantcastPolicy.h" />
        <source-file src="src/ios/sdk/QuantcastPolicy.m"/>
        <header-file src="src/ios/sdk/QuantcastUploadManager.h" />
        <source-file src="src/ios/sdk/QuantcastUploadManager.m"/>
        <header-file src="src/ios/sdk/QuantcastUtils.h" />
        <source-file src="src/ios/sdk/QuantcastUtils.m"/>



        <!-- Cordova >= 2.3 -->
        <config-file target="config.xml" parent="/*">
            <feature name="QuantcastMeasurementPlugin">
                <param name="ios-package" value="QuantcastMeasurementPlugin" />
            </feature>
        </config-file>
   
        <framework src="libsqlite3.dylib" />
        <framework src="libz.dylib" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="AdSupport.framework" weak="true" />

    </platform>
</plugin>
